.container ul
{
    width: clamp(120px, 90%, 400px);
    margin: 20px auto;
}

.container ul
{
    display: flex;

    margin: 0 auto;
    padding: 0;

    list-style: none;

    flex-wrap: wrap;
    justify-content: center;
}

.container li
{
    line-height: 100px;

    width: 100px;
    height: 100px;
    margin: 0 5px 10px;

    cursor: pointer;
    user-select: none;
    text-align: center;

    border-radius: 5px;
}
