@import "./theme"
@import "~bootstrap/scss/bootstrap"

// html
  // font-size: 62.5%
body
  font-size: 1.6rem

// table
  // border-collapse: collapse
  // border-spacing: 0
//
.App
  //font-size: 1.6rem
  font-family: sans-serif
  text-align: center
  padding: 24px
  line-height: 1.75

button, input
  border: 2px solid #999999
  background: none
  border-radius: 16px
  padding: 4px 12px 0px
  line-height: 1.5
  display: inline-flex
  align-items: center
  justify-content: center
  min-width: 120px
  &:focus, &:active
    outline: none
    border-color: pink
  &:active
    outline: none
    border-color: tomato

input
  border-radius: 4px

.section
  margin-top: 20px