@import './theme'
@import '~bootstrap/scss/bootstrap'

body
    font-size: 1.6rem

.App
    text-align: center
    font-family: sans-serif
    line-height: 1.75

    padding: 24px
button,
input
    line-height: 1.5

    border-radius: 16px
    display: inline-flex
    min-width: 120px
    padding: 4px 12px 0
    justify-content: center
    border: 2px solid #999
    background: none

    align-items: center
    &:focus,
    &:active
        border-color: pink
        outline: none
    &:active
        border-color: tomato
        outline: none
    input
        border-radius: 4px
        .section
            margin-top: 20px
            padding: 24px
